<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-1">
                </div>
                <div class="col-lg-8 col-md-10 text-center">
                    <h2 class="section-heading">Let's Get in Touch!</h2>
                    <h7 class="text-muted">Actively searching for full-time job opportunities in the fields of product design, industrial design, medical device R&D, and robotics.</h7>
                </div>
                <div class="col-lg-2 col-md-1">
                </div>
            </div>
            <br><br>
            <div class="row text-center">
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Actively searching for research internships and job opportunities.</p>
                </div>-->
                <div class="col-lg-2 col-lg-offset-2 text-center">
                    <span class="fa-stack fa-4x">
                        <a href="https://www.linkedin.com/in/stephanielchang">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                        </a>
                    </span>
                </div>
                <div class="col-lg-2 col-lg-offset-1 text-center">
                    <span class="fa-stack fa-4x">
                        <a href="mailto:stephaniechang2017@u.northwestern.edu">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                        </a>
                    </span>
                </div>
                <div class="col-lg-2 col-lg-offset-1 text-center">
                    <span class="fa-stack fa-4x">
                        <a href="https://github.com/stephanniec">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </section>
